body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url(../assets/barre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  .board{
    color: white;
    justify-content: center;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .square {
    background: rgba(48, 38, 38, .7);
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 74px;
    color: white;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  

  .wrapper {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  @font-face {
    font-family: neon;
    src: url(../assets/hellodenverdisplayregular_v1.6.ttf);
  }
  
  
  .neon-text {
    font-family: neon;
    font-size: 14vh;
    color: #ffd8d8;
    padding: 0 2vh 0 2vh;
    text-shadow:
      .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,
      .1vw 0vw 0vw #f25757, .2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757,
      .1vw 0vw .1vw #f25757, .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
      .1vw 0vw 2vw #f25757, .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757,
      .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b, .4vw 0vw 5vw #e50b0b,
      .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b,
      .1vw 0vw 10vw #e50b0b, .2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b;
  }
  
  .neon-small-text {
    justify-content: center;
    font-family: neon;
    font-size: 5vh;
    color: #ffd8d8;
    padding: 0 1vh 0 1vh;
    text-shadow:
      .05vw 0vw .25vw #ffd8d8, .1vw 0vw .125vw #ffd8d8, .2vw 0vw .125vw #ffd8d8,
      .05vw 0vw 0vw #f25757, .1vw 0vw 0vw #f25757, .2vw 0vw 0vw #f25757,
      .05vw 0vw .05vw #f25757, .1vw 0vw .05vw #f25757, .2vw 0vw .05vw #f25757,
      .05vw 0vw 1vw #f25757, .1vw 0vw 1vw #f25757, .2vw 0vw 1vw #f25757,
      .05vw 0vw 0.5vw #e50b0b, .1vw 0vw 0.5vw #e50b0b, .2vw 0vw 2.5vw #e50b0b,
      .05vw 0vw 2.5vw #e50b0b, .1vw 0vw 10vw #e50b0b, .2vw 0vw 5vw #e50b0b,
      .05vw 0vw 5vw #e50b0b, .1vw 0vw 15vw #e50b0b, .2vw 0vw 5vw #e50b0b;
  }

  .neon-small-text-o {
    justify-content: center;
    font-family: neon;
    font-size: 5vh;
    color: #ffd8d8;
    padding: 0 1vh 0 1vh;
    text-shadow:
      .05vw 0vw .25vw #7ebee4, .1vw 0vw .125vw #7ebee4, .2vw 0vw .125vw #7ebee4,
      .05vw 0vw 0vw #575af2, .1vw 0vw 0vw #575af2, .2vw 0vw 0vw #575af2,
      .05vw 0vw .05vw #575af2, .1vw 0vw .05vw #575af2, .2vw 0vw .05vw #575af2,
      .05vw 0vw 1vw #575af2, .1vw 0vw 1vw #575af2, .2vw 0vw 1vw #575af2,
      .05vw 0vw 0.5vw #210be5, .1vw 0vw 0.5vw #210be5, .2vw 0vw 2.5vw #210be5,
      .05vw 0vw 2.5vw #210be5, .1vw 0vw 10vw #210be5, .2vw 0vw 5vw #210be5,
      .05vw 0vw 5vw #210be5, .1vw 0vw 15vw #210be5, .2vw 0vw 5vw #210be5;
  }

  .neon-text-o {
    font-family: neon;
    font-size: 14vh;
    color: #ffd8d8;
    padding: 0 2vh 0 2vh;
    text-shadow:
    .05vw 0vw .25vw #7ebee4, .1vw 0vw .125vw #7ebee4, .2vw 0vw .125vw #7ebee4,
    .05vw 0vw 0vw #575af2, .1vw 0vw 0vw #575af2, .2vw 0vw 0vw #575af2,
    .05vw 0vw .05vw #575af2, .1vw 0vw .05vw #575af2, .2vw 0vw .05vw #575af2,
    .05vw 0vw 1vw #575af2, .1vw 0vw 1vw #575af2, .2vw 0vw 1vw #575af2,
    .05vw 0vw 0.5vw #210be5, .1vw 0vw 0.5vw #210be5, .2vw 0vw 2.5vw #210be5,
    .05vw 0vw 2.5vw #210be5, .1vw 0vw 10vw #210be5, .2vw 0vw 5vw #210be5,
    .05vw 0vw 5vw #210be5, .1vw 0vw 15vw #210be5, .2vw 0vw 5vw #210be5;
  }
  
  @media screen and (max-width: 801px) {
    .neon-text {
      font-size: 10vh;
    }
  
    .wrapper {
      max-width: 60vh;
      text-align: center;
      justify-content: center;
      margin: 0 auto;
      padding-right: 5vh;
      padding-left: 5vh;
    }
  }